<h1> <%= gravatar_for @user %>
		<%= @user.name %> </h1>
<table class="profile" summary="Profile information">
	<tr>
		<td class="sidebar round"><strong>Name</strong></td><td> <%= @user.name %></td>
	</tr>
	<tr>
		<td><strong>URL</strong></td><td> <%= link_to user_path(@user), @user %> </td>
	</tr>
</table>